<!-- source/flats/show.html.erb -->

<!-- Read from data.flats with owner's name as key -->
<% flat = data.flats[owner] %>

<!-- Inject flat data in template -->


<!-- background image -->


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <%= image_tag flat.owner_background, class: "banner", style: "height:200px; margin-bottom: 100px; overflow:hidden;" %>
    </div>
    <div class="col-xs-12 col-sm-6">

      <%= image_tag flat.owner_picture, class: "img-circle" %>

      <p><%= flat.owner_name %></p>
      <h1><%= flat.description %></h1>
      <p><%= flat.city %></p>
      <!-- stars -->
      <% flat.rating.times do %>
      <i class="fa fa-star" style="color: #ffb400"></i>
      <% end %>

      <% 10-flat.rating.times do %>
      <i class="fa fa-star" style="color: #C6BACA"></i>
      <% end %>

    </div>

    <div class="col-xs-12 col-sm-6">
      <form action="#" >
        <h4>Book <%= flat.name %></h4>
        <div class="form-group">
          <div class="row">
            <div class="col-xs-6">
              <input type="text" class="form-control" placeholder="checkin" id="checkin">
            </div>
            <div class="col-xs-6">
              <input type="text" class="form-control" placeholder="checkout">
            </div>
          </div>
        </div>
        <div class="form-group">
          <select name="" id="guests" class="form-control">
            <option value="1">1 guest</option>
            <option value="2">2 guests</option>
            <option value="3">3 guests</option>
          </select>
        </div>
        <input type="submit" class="btn btn-danger" value="Book it" style="width: 100%">
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h4>Has:</h4>
      <% if flat.fax %><i class="fa fa-fax fa-4x" aria-hidden="true"></i><% end %>
      <% if flat.wifi %><i class="fa fa-wifi fa-4x" aria-hidden="true"></i><% end %>
    </div>
  </div>

</div>

