---
title: Le Wagon Middleman boilerplate
---






<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://bigdata-madesimple.com/wp-content/uploads/2014/02/big-data-darpa.jpg');">
  <div class="banner-content">
    <h1>Undercut your Competitors Every Time!</h1>
    <p>A Dynamic, Data-Driven Solution for Ecommerce Sellers</p>
          <form action="#" class="form-inline">
          <input type="text" class="form-control input-sm" placeholder="Name">
          <input type="text" class="form-control input-sm" placeholder="Email">
          <input type="text" class="form-control input-sm" placeholder="Phone Number">
          <input type="submit" class="btn btn-primary btn-sm" value="Arrange a Demo Today">
        </form>
  </div>
</div>





<div class="grey-box">
 <div class="container">
  <div class="row">
    <% data.flats.each do |owner, flat| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: url('<%= image_path flat.picture %>');">
        <div class="card-category"><%= flat.city %></div>
        <div class="card-description">
          <h2><%= flat.name %></h2>
          <p><%= flat.summary %></p>
        </div>
        <%= image_tag flat.owner_picture, class:"card-user avatar avatar-large" %>
        <%= link_to "#", "flats/#{owner}.html", class: "card-link" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
</div>



